#calculator {
  height: 400px;
  width: 270px;
  border: 3.5px solid black;
  border-radius: 15px;
  text-align: center;
  background-color: lightpink;
  margin: 150px auto;
  box-shadow: 0px 0px 50px grey;
  font-family: 'Raleway', sans-serif;
}

#title {
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
}

#display {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 220px;
  height: 50px;
  border: 2.5px solid black;
  border-radius: 5px;
  text-align: right;
  font: 20px bold;
  font-family: 'Roboto Slab', serif;
  
}

#keys, #equal {
  height: 45px;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
}

#keys:hover, #equal:hover {
  background: lightgrey;
  font-weight: bold;
}

#keys {
  width:50px;
}

#equal {
  width:107.5px;
}
